.navContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding: 2em 12.5em;
}

.menuContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 2;
}

.menuContainer :global(div) {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}

.searchContainer {
    gap: 3%;
}

.promoteContainer :global(button) {
    height: 38px;
    width: 200px;
}

.logoContainer {
    margin-right: auto;
    flex-grow: 1
}

@media only screen and (max-device-width: 1024px) {
    .navContainer {
        padding: 1.5em 2em;
    }
}