.popularsContainer {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.populars {
    padding: 2% 10%;
}

.title {
    font-size: 1.5em;
    color: white;
    margin-top: 1.5%;
    margin-bottom: 2%;
}

.circular {
    margin-top: 50px;
}

.moreButton {
    color: white !important;
    text-transform: capitalize !important;
    border-color: white !important;
    background-color: #505EB2 !important;
    display: table !important;
    margin: 0 auto !important;
}

.populars :global(.MuiSkeleton-rectangular) {
    margin-bottom: 30px !important;
}

@media only screen and (max-device-width: 1024px) {
    .title {
        margin-top: 12%;
        margin-bottom: 12%;
        font-size: 1.2em;
    }

    .popularsContainer {
        flex-flow: column;
    }

}