.container {
    justify-content: space-between;
    display: flex;
    padding: 30px;
    width: 75%;
    max-width: 1356px;
    margin: auto auto;

}

.container :global(a) {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.container :global(p) {
    color: white;
}

.login {
    display: flex;
    gap: 10px;
}

.socials {
    display: flex;
    flex-flow: column;
    gap: 13px;
    text-align: right;
}

.socialsIcons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

@media only screen and (max-device-width: 1024px) {
    .container {
        flex-flow: column;
        display: grid;
        grid-gap: 10px;
        justify-items: baseline;
        margin: 30px 30px 0;
        padding: 20px 0 30px;
    }

    .socialsIcons {
        gap: 0.5em;
    }

    .socials {
        text-align: left;
    }


    .login {
        display: flex;
        gap: 10px;
        height: 25px !important;
    }

}

@media only screen and (max-width: 1500px) and (min-width: 768px) {
    .container {
        padding: 30px 0px
    }
}