

.promoteButton {
    color: #E4E4E4  !important;
    text-transform: capitalize !important;
    width: 191px;
    justify-content: left;
}

.menuGrid {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.languageSelector :global(fieldset) {
    color: white !important;
    border-color: white !important;
}