@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import 'react-phone-input-2/lib/style.css';
@import 'react-country-dropdown/dist/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--color-dark-violet)
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: 'Alata', sans-serif !important;

}

.MuiPaper-root {
    background-color: var(--color-dark-violet) !important;
    color: white !important;
}

.MuiSvgIcon-root {
    color: white !important;
}

.card:hover .card-img-overlay {
    visibility: visible;
    cursor: pointer;
}

.card:hover .card-img {
    opacity: 0.3;
}

label, p {
    font-size: 0.9em !important;
}

.MuiSkeleton-rectangular {
    margin-bottom: 30px !important;
}

:root {
    --color-dark-violet: #0C0F23;
    --color-dark-grey: #9F9F9F;
    --color-dark-purple: #334AD6;
    --color-light-black: #16192C;
    --color-light-grey: #9F9F9F;
    --color-light-violet: #14172E;
}
